<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.primeton.renyh.demo.dao.IUserDao">

	 <select id="getUser" resultType="com.primeton.renyh.demo.model.User">
        select * from 
        renyh_user where 
        uid = #{uid}
    </select>
    
     <select id="getByName" resultType="com.primeton.renyh.demo.model.User">
        select * from 
        renyh_user where 
        userName = #{userName}
    </select>
    
     <select id="getByUserNameAndPassWord" resultType="com.primeton.renyh.demo.model.User">
       select u.uid,u.userName,u.`passWord`,
       u.age,u.sex,u.birthday,u.oid 
       from renyh_user u where userName=#{userName}
        and passWord =#{passWord}
    </select>
    
    <select id="queryPageUsers" resultType="com.primeton.renyh.demo.model.User">
	  	select u.uid,u.userName,u.passWord,
	  	u.age,u.sex,u.birthday,u.oid,o.department
		FROM `renyh_user` as u JOIN `renyh_organization` as o
		where 1=1 AND u.oid = o.oid
        <if test="userName != null and userName != ''">
		AND u.userName LIKE "%"#{userName}"%"
	    </if>
    	<if test="oid != null and oid != 0">
		AND u.oid = #{oid}
	    </if>
    </select>
    
    <delete id="deleteUser" parameterType="Integer">
        delete from renyh_user 
        where uid =#{uid}
    </delete>

    <insert id="insertUser" parameterType="com.primeton.renyh.demo.model.User">
        insert into renyh_user 
        (userName,passWord,oid,age,sex,birthday)
        values
        (#{userName},#{passWord},#{oid},#{age},#{sex},#{birthday})
    </insert>
    
    <update id="updateUser" parameterType="com.primeton.renyh.demo.model.User">
    	UPDATE renyh_user SET 
    	userName=#{userName},
    	PASSWORD=#{passWord},
    	oid=#{oid},
    	age = #{age},
    	sex=#{sex},
    	birthday=#{birthday}
    	WHERE uid=#{uid};
    </update>
    
</mapper>
